<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLs Page</title>
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body class="h-full">
    <h1>URLs Page</h1>
    <section>
        <h2>Create a Short URL</h2>
        <p class="text-red-500">Welcome to </p>
        <form id="new-url-form" action="/api/urls" method="POST">
            <div>
                <label for="url">Name:</label>
                <input type="text" name="url" id="url" required>
            </div>

            <div>
                <label for="url">Url:</label>
                <input type="text" name="name" id="name" required>
            </div>
            
            <input type="submit" value="Create">
        </form>
    </section>
    <section>
        <h2>List of URLs</h2>
        <div id="urls--container" class="urls--container">
            <% for (let url of urls){%>
                <div class="urls__item">
                    <h4 style="margin-bottom: 0;">
                       <%= url.short_url %>
                    </h4>
                    <p style="margin-top: 5px;">
                        <%= url.url %>
                    </p>
                </div>
             <% }%>
        </div>
    </section>
</body>
</html>