<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="../../public/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="h-full">
<!-- <div class="container">
    <h2>Login Page</h2>
    <form id="login-form" action="/auth/login" method="POST">
        <div>
            <label for="login">Email</label>
            <input type="text" id="email" name="email" value="root@mail.com" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</div> -->
<p class="text-red-500">Welcome to </p>
</body>
</html>
