<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Short URL</title>
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <%= JSON.stringify(url) %>
</body>
</html>